<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href='{{ "images/nkim_logo.svg" | absURL }}' type="image/svg+xml">

    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/pages/singlepage.css" | relURL }}">
</head>

<body>

  <div class="page-layout">

    <main class="content">

      <h1>{{ .Title }}</h1>
    <hr>

    <ul>
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <li><a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">{{ $name }}</a> ({{ len $taxonomy }})</li>
        {{ end }}
    </ul>

    </main>

  </div>

  {{ partial "footer" . }}

</body>

</html>
