<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="icon" href='{{ "images/nkim_logo.svg" | absURL }}' type="image/svg+xml">
     <link rel="stylesheet" href="{{ "css/main.css" | absURL }}">
     <link rel="stylesheet" href="{{ "css/pages/home.css" | absURL }}">
     <title>Nathan Kim</title>
     
</head>

<body>

     <div class="home-logo-container">
          <img src="{{ "images/nkim_logo.svg" | absURL }}" alt="Responsive Image">
     </div>

     <div class="home-links">
          <a href="{{ "entries" | absURL }}" class="link-item">ENTRIES</a>
          <a href="{{ "tags" | absURL }}" class="link-item">INDEX</a>
          <a href="{{ "about" | absURL }}" class="link-item">ABOUT</a>
     </div>

</body>
</html>
